
        /*Google Fonts*/
        @import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
        @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
        @import url(//db.onlinewebfonts.com/c/bcc90f9166f491ca4a926d79afa74d3e?family=FuturaLTW01-Book);
        
        @font-face {
        font-family: 'FuturaLT-Book';
            src: url('fonts/FuturaLT-Book.woff');

        }
        body, html{
            height: 100%;
            width:100%;
        }
        body{
            font-size: 1rem;
            font-family: "FuturaLT-Book", sans-serif;
        }

        .inner-header{
            display: flex;
            flex-wrap: wrap;
            align-items: center; 
            margin-top: 90px;
            font-size: 58px!important; 
            line-height: 81.6px!important; 
            font-weight: 400;
        }

        /* p texts and span texts */
        .mytexts{
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0.3px;
            font-weight: 400px;
        }

         /* CLOUD SECTION */

        .cloudy {
            /*To hide the horizontal scroller appearing during the animation*/
            overflow: hidden;margin: 0; padding: 0;
        }

        #clouds{
            padding: 50px 0;
            background: #fff;
            max-height: 600px;
        }

        /*Time to finalise the cloud shape*/
        .cloud {
            width: 200px; height: 60px;
            background: #c2bcbc;
            opacity: 0.7;
            
            border-radius: 200px;
            -moz-border-radius: 200px;
            -webkit-border-radius: 200px;
            
            position: relative; 
        }

        .cloud:before, .cloud:after {
            content: '';
            position: absolute; 
            background: #c2bcbc;
            width: 100px; height: 80px;
            position: absolute; top: -15px; left: 10px;
            
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -moz-transform: rotate(30deg);
        }

        .cloud:after {
            width: 120px; height: 120px;
            top: -55px; left: auto; right: 15px;
        }

        /*Time to animate*/
        .x1 {
            -webkit-animation: moveclouds 15s linear infinite;
            -moz-animation: moveclouds 15s linear infinite;
            -o-animation: moveclouds 15s linear infinite;
        }

        /*variable speed, opacity, and position of clouds for realistic effect*/
        .x2 {
            left: 200px;
            
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            transform: scale(0.6);
            opacity: 0.6; /*opacity proportional to the size*/
            
            /*Speed will also be proportional to the size and opacity*/
            /*More the speed. Less the time in 's' = seconds*/
            -webkit-animation: moveclouds 25s linear infinite;
            -moz-animation: moveclouds 25s linear infinite;
            -o-animation: moveclouds 25s linear infinite;
        }

        .x3 {
            left: -250px; top: 100px;
            
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 0.8; /*opacity proportional to the size*/
            
            -webkit-animation: moveclouds 20s linear infinite;
            -moz-animation: moveclouds 20s linear infinite;
            -o-animation: moveclouds 20s linear infinite;
        }
        .x4 {
            left: 470px; top: 150px;
            
            -webkit-transform: scale(0.75);
            -moz-transform: scale(0.75);
            transform: scale(0.75);
            opacity: 0.75; /*opacity proportional to the size*/
            
            -webkit-animation: moveclouds 18s linear infinite;
            -moz-animation: moveclouds 18s linear infinite;
            -o-animation: moveclouds 18s linear infinite;
        }
        @-webkit-keyframes moveclouds {
            0% {margin-left: 1000px;}
            100% {margin-left: -1000px;}
        }
        @-moz-keyframes moveclouds {
            0% {margin-left: 1000px;}
            100% {margin-left: -1000px;}
        }
        @-o-keyframes moveclouds {
            0% {margin-left: 1000px;}
            100% {margin-left: -1000px;}
        }

        /* ========== Universal Stylings ========== */
        h1,h2,h3,h4,h5{
            position: relative;
            font-family: "FuturaLT-Book", sans-serif;
        }
        h6{
            position: relative;
            text-transform: uppercase;
        }
        .bg-primary{
            background-color: #35CBDF!important;
        }
        .text-inverse{
            color: #074052;
        }
        .text-primary{
            color: #35CBDF!important;
        }
        .btn{
            font-family: "FuturaLT-Book", sans-serif;
            font-size: 1rem;
            font-weight: 600;

        }
        .btn-primary{
            background-color: #35CBDF;
            border-color: #35CBDF;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
        }
        .btn-primary:hover,.btn-primary:focus{
            background-color: #ffb700;
            border-color: #00BED7;
        }
        .btn-capsul{
            border-radius: 50px;
        }
        i.box-circle-outline{
            border-color: inherit;
            border-width: 1px;
            border-style:solid;
            border-radius: 50%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 50px;
        }
        i.box-circle-solid{
            background-color:#35CBDF;
            border-radius: 50%;
            color: #fff;
            font-size: 22px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            width: 55px;
        }
        .text-underline-white:before{
            content:"";
            position: absolute;
            width:100px;
            height: 4px;
            left:50%;
            margin-left:-50px;
            background:#fff;
            bottom: -15px;
            border-radius: 10px;
        }
        .text-underline-rb-white:before{
            content:"";
            position: absolute;
            width:100px;
            height: 4px;
            left:0;
            background:#fff;
            bottom: -15px;
            border-radius: 10px;
        }
        .text-underline-primary:before{
            content:"";
            position: absolute;
            width:80px;
            height: 6px;
            left:50%;
            margin-left:-25px;
            background:#ffb700;
            bottom: -15px;
            border-radius: 10px;
        }
        .text-underline-rb-primary:before{
            content:"";
            position: absolute;
            width:100px;
            height: 4px;
            left:0;
            background:#35CBDF;
            bottom: -15px;
            border-radius: 10px;
        }
        .bg-overlay:before{
            content:"";
            background:rgba(79, 185, 202, 0.4);
            position: absolute;
            height: 100%;
            width:100%;
            left:0;
            top:0;
            z-index: -1;
        }
        .bg-overlay-light:before{
            content:"";
            background:rgb(65, 49, 34); 
            position: absolute;
            height: 100%;
            width:100%;
            left:0;
            top:0;
            z-index: -1;
        }
        .parallax{
            background-attachment: fixed!important;
        }


        /* ========== Loader ========== */

        .loaders {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .loaders .loader {
            box-sizing: border-box;
            display: flex;
            flex: 0 1 auto;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 25%;
            max-width: 25%;
            height: 200px;
            align-items: center;
            justify-content: center;
        }
        .loader {
            display: table;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 1200;
        }
        .loader-bg {
            background: #35CBDF;
        }
        .loader-inner {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        .loader .ball-clip-rotate-pulse {
            left: 50%;
            position: absolute;
            top: 50%;
        }

        /* ========== Top Navigation ========== */
        .top-nav {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            height: 80px;
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }
        .top-nav .navbar-nav li .nav-link {
            color: white;
            font-size: 17px;
            padding:29px 15px;
            font-weight: 600;
            text-transform: uppercase;
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }
        .top-nav li a.nav-link:hover, .top-nav .nav-item.active a.nav-link{
            border-bottom: 3px solid #35cbdf;
            color: #ffb700;
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }
        .show-on-hover:hover > ul.dropdown-menu {
            display: block;    
        }
        .top-nav .navbar-brand{
            font-size: 28px;
            color: #fff;
            font-family: "FuturaLTW01-Book", sans-serif;
        }
        .top-nav.light-header{
            height: 60px;
            background: #fff;
            opacity: 0.7;
            box-shadow: 0 0 10px rgba(0,0,0,0.23);
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }
        .top-nav.light-header .navbar-brand{
            color: #212121;
        }
        .top-nav.light-header .navbar-nav li .nav-link {
            color: #212121;
            padding: 19px 15px;
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }

        .top-nav.light-header li a.nav-link:hover, .top-nav.light-header .nav-item.active a.nav-link{
            border-bottom: 3px solid #35cbdf;
            color: #ffb700;
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }
        .logo_v{
            display: none;
        }


        /* ========== Intro Header ========== */
        .intro{
            float: left;
            width:100%;
            display: flex;
            align-items:center;
            height:100%;
            position: relative;
            z-index: 1;
        }
        .intro.intro-small{
            height: 60%;
        }
        .intro-bg{
            background:url("../img/intro-bg-03.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size:cover;
        }
        .caption-container{
            width:50rem;
            margin:0 auto;
        }
        .caption-two-panel{
            display: flex;
            align-items:center;
        }
        .intro h1{
            font-weight: 700;
        }
        .intro-caption .btn i{
            float: left;
            margin-right:15px;
        }
        .intro .carousel-item{
            height: 500px;
        }
        .intro .carousel-item::before{
            content:"";
            position: absolute;
            width:100%;
            height: 100vh;
        }
        .intro  .carousel-caption{
            top:25%;
        }

        /* ========== Who We Are ========== */

        .info-section{
            float: left;
            width:100%;
            padding:5rem 0;
            position: relative;
            z-index: 1;
            height: 600px;
        }
        .info-section .box h2{
            font-size:24px;
            margin-bottom:20px;
            margin-top:0;
        }

        .info-section .box i{
            font-size:20px;
        }
        .info-section .box{
            display:flex;
        }
        .info-section .text-box{
            flex:1 1 0;
            text-align:left;
        }
        .info-section .icon-box{
            line-height: 1.2;
            width:70px;
        }
        .info-section .service-block-overlay{
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
        }
        .info-section .service-block-overlay:hover{
            background: #fff none repeat scroll 0 0;
            border-radius: 5px;
            box-shadow: 0 0 90px #ffb700;
            float: left;
            margin-top: -10px;
            position: relative;
            width: 100%;
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
        }
        .content-half{
            color:#fff;
        }
        .content-half ul{
            padding:0;
            list-style:none;
        }
        .content-half ul li{
            margin:15px 0;
            float:left;
            width:100%;
        }
        .content-half ul li i{
            float:left;
            font-size:30px;
            padding-top:10px;
            padding-bottom:10px;
        }
        .content-half ul li .list-content{
            float:left;
            margin-left:20px;
        }
        .content-half ul li strong{
            font-size:19px;
            font-weight:700;
        }
        .content-half .btn{
            margin-top:20px;
        }
        /*--- three Block Panel ---*/
        .three-panel-block{
            float: left;
            width: 100%;
        }
        .three-panel-block i{
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
        .three-panel-block i.box-round{
            border-color: inherit;
            border-width: 1px;
            border-style:solid;
            padding:16px;
            border-radius: 50%;
        }

        /*--- Two Block Panel ---*/
        .two-panel-block{
            float: left;
            width: 100%;
        }
        .two-panel-block p{
            font-size:16px;
        }


        /*--- Two Block Panel ---*/
        .four-panel-block{
            float: left;
            width:100%;
        }

        /* ========== Who We Are ========== */
        .widget{
            float: left;
            width:100%;
            position: relative;
            z-index: 1;
        }

        /* ========== Copy Content Styles ========== */
        .copy-content-sec{
            float: left;
            width:100%;
            padding:5rem 0;
            position: relative;
            z-index: 1;
        }
        .copy-container{
            display: flex;
            align-items: center;
        }
        .copy-content{
            float: left;
            width:100%;
        }
        .copy-content li i{
            float: left;
            width:30px;
            margin-top:5px;
            color: #5CB85C;
        }

        /* ========== Team Section ========== */

        .team-section{
            float: left;
            width:100%;
            position: relative;
            z-index: 1;
            background-color:#fff;
        }
        .team-footer{
            float: left;
            width:100%;
            padding: 15px;
        }
        .team-footer h3{
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        .member-box{
          width:100%;
          float:left;
          position:relative;
          overflow:hidden
        }
        .member-box:hover> img{
        transform: scale(1.05);
        transition:1s ease-in;
        }
        .member-box img{
          transition:0.3s ease-in;
        }
        .member-box.t-bottom .overlay-content{
            display:flex;
            flex-direction:column;
            justify-content:flex-end;
        }
        .member-box.t-center .overlay-content{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items: center;
        }
        .member-box i.box-circle-solid{
            padding: 0;
            width:40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
        /* style 1 */
        .member-box.anim-lf .overlay-content{
          position:absolute;
          background-color:rgba(0,0,0,0.6);
          left:-100%;
          bottom:0;
          width: 100%;
          height:100%;
          transition:0.4s ease-in;
        }
        .member-box.anim-lf:hover>.overlay-content{
          left:0;
          transition:0.4s ease-in;
        }
        /* style 1 */
        .member-box.anim-bt .overlay-content{
          position:absolute;
          background-color:rgba(0,0,0,0.6);
          bottom:-100%;
          width: 100%;
          height:100%;
          transition:0.6s ease-in;
        }

        .member-box.anim-bt:hover>.overlay-content{
          bottom:0;
          transition:0.4s ease-in;
        }

        /* ========== Testimonial Section ========== */
        .testimonial-section{
            float: left;
            width:100%;
            position: relative;
            z-index: 1;
        }
        .testimonial-section .block-style-03 img{
            width:100px;
        }

        /* ========== Footer Section ========== */
        .footer-section{
            float: left;
            width:100%;
            position: relative;
            z-index: 1;
        }
        .footer-section .list-box img {
            width: 70px;
        }
        .footer-section .list-box a.title{
            font-size: 14px;
            line-height: 0;
        }
        .footer-section .copy-text{
            font-size: 12px;
            border-top: 1px solid #555;
        }
        .social-box a.icoRss:hover {
            background-color: #F56505;
        }
        .social-box a.fa-box:hover {
            background-color:#3B5998;
        }
        .social-box a.tw-box:hover {
            background-color:#33ccff;
        }
        .social-box a.go-box:hover {
            background-color:#BD3518;
        }
        .social-box a.ld-box:hover {
            background-color:#007bb7;
        }
        ul.social-box {
            list-style: none;
            display: inline;
            margin-left:0 !important;
            padding: 0;
        }
        ul.social-box li {
            display: inline;
            margin: 0 5px;
        }
        .social-box li a {
            background: #414344;
            border-radius: 50%;
            display: inline-block;
            font-size: 13px;
            height: 30px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            width: 30px;
        }

        .social-box li i {
            margin:0;
            line-height:30px;
            text-align: center;
        }

        .social-box li a:hover i, .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
        .social-box i {
            color: #fff;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }

        /* ========== Copy Content Styles ========== */
        .copy-content-sec{
            float: left;
            width:100%;
            padding:5rem 0;
            position: relative;
            z-index: 1;
        }
        .copy-container{
            display: flex;
            align-items: center;
        }
        .copy-content{
            float: left;
            width:100%;
        }
        .copy-content li i{
            float: left;
            width:30px;
            margin-top:5px;
            color: #5CB85C;
        }
        .faq-box .card{
            border-color: #35CBDF;
            margin-top: 10px;
        }
        .faq-box .card-header{
            background-color: #35CBDF;
            color: #fff;
        }


        /* ========== Price Table Styles ========== */
        .price-section{
            float: left;
            width:100%;
            padding:5rem 0;
            position: relative;
            z-index: 1;
        }
        .price-section h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .price-section .price-block{

        }
        .price-section .currency{
            font-size: 25px;
            vertical-align: super;
        }
        .price-section .price-count{
            font-size: 60px;
            line-height: 60px;
        }
        .price-section .price-block small{
            display: block;
            font-size: 15px;
        }

        /* ========== Contact Section ========== */
        .contact-section{
            float: left;
            width: 100%;
            position: relative;
            z-index: 1;
        }
        .contact-section #map {
            display: block;
            width: 100%;
            height: 100%;
        }

        .contact-section #map {
            background: #fff;
            width:100%;
            height: 100%;
        }
        .contact-section .form-control{
            border-radius: 0;
        }
        .contact-section #map{
            height: 350px;
        }

        /* FORM GET IN TOUCH*/
        .info-section input {
            background: #f8f6f1;
            border: none;
            border-bottom: 1px solid #000000;
            margin: 50px;
            width: 230px;
        }
        .pillbutton{
            background-color: transparent;
            border:solid rgba(160, 155, 148, 1) 2px;
            color: gray;
            padding: 10px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 10px;
            cursor: pointer;
            border-radius: 30px;

        }
        .pillbutton:hover {
          background-color: black;
          color: white;
        }

        /* ========== Copy Footer Styles ========== */
        #footer {
            background: #2f2e2e !important;
            bottom: 0;
        }
        #footer h5{
            padding-left: 10px;
            border-left: 3px solid #eeeeee;
            padding-bottom: 6px;
            margin-bottom: 20px;
            color:#ffffff;
        }
        #footer a {
            color: #ffffff;
            text-decoration: none !important;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }
        #footer ul.social li{
            padding: 3px 0;
        }
        #footer ul.social li a i {
            margin-right: 5px;
            font-size:25px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }
        #footer ul.social li:hover a i {
            font-size:30px;
            margin-top:-10px;
        }
        #footer ul.social li a,
        #footer ul.quick-links li a{
            color:#ffffff;
        }
        #footer ul.social li a:hover{
            color:#eeeeee;
        }
        #footer ul.quick-links li{
            padding: 3px 0;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }
        #footer ul.quick-links li:hover{
            padding: 3px 0;
            margin-left:5px;
            font-weight:700;
        }
        #footer ul.quick-links li a i{
            margin-right: 5px;
        }
        #footer ul.quick-links li:hover a i {
            font-weight: 700;
        }

        @media (max-width:767px){
            #footer h5 {
            padding-left: 0;
            border-left: transparent;
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
        }


        /* ========== Responsive Stylings ========== */
        @media (max-width: 991px){
            .container{
                width: 100%;
            }
            .intro .intro-box{
                padding-left: 0;
                margin-bottom: 0;
            }
            .intro .intro-box span{
                margin-right: 10px;
            }
            .intro .intro-box .list-item{
                width: 85%;
            }
            .content-half ul li i{
                font-size: 20px;
            }
            .content-half ul li .list-content{
                width:77%;
            }
            .content-half ul li strong{
                line-height: 0;
            }
            .testimonial-section .single-testimonial .carousel-item{
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .widget h2 {
                font-size: 1.5rem;
            }
            .widget .counter{
                line-height: 0;
                font-size: 1.7rem;
            }
            .widget .fa-3x{
                font-size: 2rem;
            }
            .widget .stat-content h4{
                font-size: 1.2rem;
            }
        }

        @media (max-width: 767px){
            .container{
                width:100%;
            }
            .intro .intro-form-small input[type="text"], .intro .intro-form-small input[type="password"]{
                width: 36%;
            }
            .intro .carousel-caption{
                top:10%;
            }
            .widget.widget-counter .container{
                width: 100%;
            }
            .contact-section #map {
                height: 400px
            }
            .intro .display-4{
                font-size:2rem;
            }
            .intro p{
                display: none;
            }
            .intro img{
                height: 100%;
            }
            .intro .btn-primary{
                margin-top: 20px;
            }
            .top-nav .navbar-toggler i {
            color: black;
            margin-top: 6px;
            }
            .top-nav.light-header .navbar-toggler i {
            color: black;
            }
            .top-nav  .navbar-collapse.show {
            background-color: black;
            text-align: center;
            padding: 12px 0;
            }
            .top-nav .navbar-collapse.show a{
            color: black;
            }
        }
        .btn-theme{background-color:#35CBDF; color:#fff;}
        .title {
            font-weight: 700;
            padding-top: 30px;
        }

        .title+.category {
            margin-top: -25px;
        }

        
        img {
            max-width: 100%;
            border-radius: 1px;
        }
        .page-header {
            min-height: 100vh;
            max-height: 999px;
            padding: 0;
            color: #FFFFFF;
            position: relative;
            overflow: hidden;
        }

        .page-header>.content {
            margin-top: 12%;
            text-align: center;
            margin-bottom: 50px;
        }

        .page-header:before {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .page-header>.container {
            z-index: 2;
            padding-top: 12vh;
            padding-bottom: 40px;
        }

        .page-header .page-header-image {
            position: absolute;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .page-header footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .page-header .container {
            height: 100%;
            z-index: 1;
            text-align: center;
            position: relative;
        }
